<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deudor</title>

    <!-- CSS styles -->
    <link rel="stylesheet" href="../src/styles/General/Typografy.css">
    <link rel="stylesheet" href="../src/styles/General/Body.css">
    <link rel="stylesheet" href="../src/styles/General/Buttons.css">
    <link rel="stylesheet" href="../src/styles/General/LogIn.css">

    <link rel="stylesheet" href="../src/styles/Taller/Debtors.css">
    <link rel="stylesheet" href="../src/styles/Taller/DebtorInfo.css">
    <!-- font families-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <!--Vue connect-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.js"></script>
</head>

<body class="bodyDebtors">

    <script src="../src/components/Settingsproject/ConectStyles.js" type="module"></script>
    <script src="../src/components/Settingsproject/SetStyles.js" type="module"></script>

    <a href="../Views/ConfigUsuario.html" class="ButtonSettings">
        <img src="../public/img/config.svg" alt="Volver" />
    </a>

    <section class="containDebtor1">
        <div class="Debtor">
            <!-- Columna 1: Imagen -->
            <div class="imageContainer">
                <img src="../../../public/ImgDeb/avatar.png" alt="Foto usuario" class="imgUser" />
            </div>
            <!-- Columna 2: Datos -->
            <div class="infoContainer">
                <p><strong>Nombre:</strong> Nombre 1</p>
                <p><strong>Deuda:</strong> Deuda 1</p>
                <p><strong>Información:</strong> Información 1</p>

                <div class="actionButtons">
                    <a href="../Views/Deudor.html" class="ButtonDelete1">
                        <img src="../public/img/info.svg" alt="Info" />
                    </a>
                    <button class="ButtonDelete1">
                        <img src="../public/img/menosDelete.png" alt="Eliminar" />
                    </button>
                </div>
            </div>
        </div>
    </section>
    <script src="../src/components/DebtorsList.js"></script>

</body>

</html>