<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in VoltRush</title>

        <!-- CSS styles -->
    <link rel="stylesheet" href="../src/styles/General/Typografy.css">
    <link rel="stylesheet" href="../src/styles/General/Body.css">
    <link rel="stylesheet" href="../src/styles/General/Buttons.css">
    <link rel="stylesheet" href="../src/styles/General/LogIn.css">

    
    <!-- font families-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">



</head>
<body>
    <script src="../src/components/Settingsproject/ConectStyles.js" type="module"></script>
    <script src="../src/components/Settingsproject/SetStyles.js" type="module"></script>

    <a href="/index.html">
        <img class="classIcon" src="../public/img/arrow-left.svg" alt="Volver">
      </a>
      

<section  class="BodyRegister">

    <section class="ContainerLogIn">

        <h3 class="Title_Register">Sign In</h3>

        <div class="inputRegister">
            <label for="docId" class="inputText"><h6>Name</h6></label>
            <input class="inputContain"  type="text" id="docIdname" placeholder="Ej: memo">

            <label for="docId" class="inputText"><h6>Email</h6></label>
            <input class="inputContain"  type="text" id="docIdCorreoElectronico" placeholder="Ej: name@gmail.com">

            <label for="docId" class="inputText"><h6>PassWord</h6></label>
            <input class="inputContain" type="text" id="docIdContraseña" placeholder="Ej: 123456789">

            <label for="docId" class="inputText"><h6>Confirm Password</h6></label>
            <input class="inputContain" type="text" id="docIdConfirmarContraseña" placeholder="Ej: 123456789">

        </div>

        <a href="./Views/LogIn.html" class="ButtonGeneral" title="Click here">

            <h6>Next</h6>
          </a>
</section >

    </section>

</body>
</html>