footer{
    background-color: var(--Primary);
    padding: var(--xl) var(--Padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Perfil {
    min-width: 32px;
    min-height: 32px;
    background-color: var(--Accent);
    display: inline-block; /* o block */
    border-radius: var(--rfull);
  }
  